nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 20px;

    background-color: var(--surface-color);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
}